html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin-top: 0;
}

a {
  color: inherit;
  margin: 0;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
  min-width: 320px;
  background-color: rgb(226, 224, 224);
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  margin: 0;
}

button {
  outline: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 40px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.list {
  width: 65%;
  height: 600px;
  display: flex;
  gap: 20px;
}

.list-item {
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.list-item__product-img {
  border-radius: 10px;
}

.list-item__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

.list-item__content-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.list-item__content-desc {
  font-size: 20px;
  color: rgb(164, 164, 164);
}

.list-item__content-price {
  font-size: 35px;
  margin-bottom: 10px;
}

.list-item__content-btn {
  font-size: 25px;
  padding: 15px;
  border-radius: 1px solid rgb(4, 119, 4);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 164, 71);
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.list-item__content-btn:hover {
  background-color: rgb(1, 62, 1);
}

.list-item__content-btn:active {
  background-color: rgb(82, 121, 82);
}

.basket {
  width: 40%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
}

.basket-btn {
  width: 150px;
  background-color: rgb(71, 164, 71);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

.basket-btn:hover {
  background-color: rgb(1, 62, 1);
}

.basket-btn:active {
  background-color: rgb(82, 121, 82);
  transform: scale(1.2);
}

.basket-window {
  opacity: 0;
  width: 100%;
  min-height: 850px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transform: scale(0);
  transition: opacity .3s ease-in-out, transform .5s ease-in-out;
}

.basket-window__visible {
  opacity: 100%;
  transform: scale(1);
}

.basket-window.basket-window__visible.product-in-cart ,
.basket-window.product-in-cart {
  flex-direction: column-reverse;
}

.basket-window__empty-list {
  padding-top: 100px;
  color: rgb(164, 164, 164);
  font-size: 30px;
  font-weight: 400;
}

.basket-window__btn {
  width: 100%;
  padding: 20px;
  background-color: rgb(223, 0, 0);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

.basket-window__btn:hover {
  background-color: rgb(214, 65, 65);
}

.basket-window__btn:active {
  background-color: rgb(71, 164, 71);
}

.empty-catalog {
  color: rgb(164, 164, 164);
  font-size: 40px;
  font-weight: 500;
}

.basket__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.basket__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.basket__list-item-img {
  width: 40%;
  height: 100%;
}

.basket__list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket__list-item-title {
  font-size: 45px;
}

.basket__list-item-price {
  font-size: 30px;
}

.basket__list-item-remove-btn {
  width: 150px;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  background-color: rgb(121, 118, 118);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
}

.basket__list-item-remove-btn:hover {
  opacity: 70%;
}

.basket__list-item-remove-btn:active {
  background-color: rgb(214, 65, 65);
  opacity: 100%;
}
